h1 {
  text-align: center;
}

.container {
  text-align: center;
  width: 100%;
}

.cart-container {
  background: gray;
  border-radius: 10px;
  bottom: 2em;
  color: white;
  padding: 1em;
  position: fixed;
  right: 2em;
  width: 200px;
  z-index: 999;
}